server {
  listen       80 default;
  server_name  _;
  root         /var/sphere/www;
  access_log   /var/log/sphere/access.log;
  error_log    /var/log/sphere/error.log;
  rewrite_log  on;
  index        index.php index.html;
  charset      utf-8;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php$ {
    fastcgi_keep_conn  on;
    fastcgi_pass       php:9000;
    fastcgi_index      index.php;
    include            fastcgi_params;

    fastcgi_split_path_info       ^(.+\.php)(/.+)$;
    fastcgi_param PATH_INFO       $fastcgi_path_info;
    fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
  }

  location ~ /(\.ht|web\.config|\.git) {
    deny all;
    return 404;
  }
}
