export \
   SPHERE_WEB_HOME="$HOME/workspace/website/src" \
   SPHERE_HTTP_PORT=8000 \
   SPHERE_HTTPS_PORT=9443 \
   SPHERE_XDEBUG_PORT=9000 \
   SPHERE_DB_PORT=5432 \
   SPHERE_DB_MASTERPASS=postgres \
   SPHERE_DB_ROLE=versates \
   SPHERE_DB_USER=sphere \
   SPHERE_DB_PASSWORD=sphere \
   SPHERE_CACHE_PORT=6379
